# Contents:

#### Import libraries
#### Importing Data
#### Data cleaning

## 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02 Importing Data

In [2]:
path=r'C:\Users\61491\Achievement 6'

In [3]:
df = pd.read_csv(r'C:\Users\61491\Achievement 6\02 Data\Original Data\energy.csv', index_col = False)

## 03 Data Cleaning

In [4]:
df.head(5)

,Country,Year,Energy type,Energy consumption,Energy production,GDP,Population,CO2 emission
0,World,2000,All energy types,402.378722,399.855216,66398.35639,6141880.599,23494.916280
1,World,2000,coal,98.657630,96.352236,66398.35639,6141880.599,8901.519950
2,World,2000,Natural gas,89.604851,89.284232,66398.35639,6141880.599,4571.850603
3,World,2000,Petroleum & Liquids,156.666231,156.352420,66398.35639,6141880.599,10021.545730
4,World,2000,nuclear,25.650521,25.650521,66398.35639,6141880.599,0.000000

In [5]:
df.columns

Index(['Country', 'Year', 'Energy type', 'Energy consumption',
       'Energy production', 'GDP', 'Population', 'CO2 emission'],
      dtype='object')

In [6]:
df.shape

(22800, 8)

In [7]:
df.describe()

,Year,Energy consumption,Energy production,GDP,Population,CO2 emission
count,22800.000000,19619.000000,1.961900e+04,22800.000000,2.280000e+04,22800.000000
mean,2009.500000,2.074488,2.058735e+00,993.238417,7.267690e+04,106.856237
std,5.766408,19.285077,1.900505e+01,7152.339884,5.175612e+05,1130.292533
min,2000.000000,-0.163438,-1.000000e-39,0.161470,2.031300e+01,-0.000138
25%,2004.750000,0.001869,0.000000e+00,14.791200,2.059963e+03,0.000000
50%,2009.500000,0.046448,4.889511e-03,60.131500,7.742415e+03,0.111555
75%,2014.250000,0.360610,2.040835e-01,314.234925,2.515214e+04,9.204975
max,2019.000000,601.040490,6.115090e+02,127690.247100,7.714631e+06,35584.933500

In [8]:
df.dtypes

Country                object
Year                    int64
Energy type            object
Energy consumption    float64
Energy production     float64
GDP                   float64
Population            float64
CO2 emission          float64
dtype: object

In [9]:
# finding missing values
df.isnull().sum()

Country                  0
Year                     0
Energy type              0
Energy consumption    3181
Energy production     3181
GDP                      0
Population               0
CO2 emission             0
dtype: int64

In [10]:
# Addressing missing values
df['Energy consumption'].fillna(0, inplace=True)
df['Energy production'].fillna(0, inplace=True)

In [11]:
# Rechecking missing values
df.isnull().sum()

Country               0
Year                  0
Energy type           0
Energy consumption    0
Energy production     0
GDP                   0
Population            0
CO2 emission          0
dtype: int64

In [12]:
# finding duplicates
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
22795    False
22796    False
22797    False
22798    False
22799    False
Length: 22800, dtype: bool

The data set does not contain any duplicates

In [13]:
# finding mixed type data
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col, ' mixed')
  else: print(col, ' consistent')

Country  consistent
Year  consistent
Energy type  consistent
Energy consumption  consistent
Energy production  consistent
GDP  consistent
Population  consistent
CO2 emission  consistent

There is no mixed-type data in all columns

In [14]:
df1 = df

In [15]:
df1.to_csv(os.path.join(path,'02 Data','Prepared Data','energy_checked.csv'))